version: '3.9'

services:
  mongo:
    image: mongo:6
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  server:
    build: ./server
    container_name: server
    restart: always
    ports:
      - "5200:5200"
    environment:
      - MONGO_URI=mongodb://mongo:27017/departmentdb
      - PORT=5200
    depends_on:
      - mongo

  client:
    build: ./client
    container_name: client
    restart: always
    ports:
      - "4200:80"
    depends_on:
      - server
    environment:
      - API_URL=http://server:5200

volumes:
  mongo_data:
